body {
    background-color: #e9e9e9;
    width: 80%;
    margin: 10%;
    margin-top: 20px;
    overflow-y: scroll;
}
.firstlogo {
    display:flex;
    flex-direction: column;
}
.firstlogo img {
    align-self: center;
    height: 100px;
    border-radius: 5px;
    box-shadow: 3px 3px #888;
}
.firstlogo h1 {
    align-self: center;
    font-weight: 300;
    text-shadow: 3px 3px #dddddd;
}
.header1 {
    background-color: aqua;
    display: flex;
    padding: 4px 0px;
}
.header1 div {
    padding: 0px 7px;
}
.all-header2, .cardscore {
    margin-left: auto;
    padding-left: 5px;
}
.header2 {
    background-color: lightblue;
    display: flex;
    padding: 4px 0px;
}
.header2 div{
    padding: 5px 10px;
    font-size: 13px;
    text-align: center;
}
.mainmatches {
    background-color: rgb(83, 83, 255);
    display: flex;
    margin: 4px;
    overflow-x: scroll;
}
.card {
    background-color: white;
    width: 250px;
    margin: 2px;
}
.cardtitle {
    font-size: 12px;
    display: flex;
    margin: 2px;
    align-items: center;
}
.cardname {
    padding-left: 8px;
    white-space: nowrap;
    width: 220px;
    overflow: hidden;
    margin: 2px;
}
.cardtitle-end {
    font-size: 13px;
    background-color: #464646;
    color: #fff;
    border-radius: 15px;
    padding: 4px 5px;
}
#lista {
        font-size: 13px;
        background-color: #f80606;
        color: #fff;
        border-radius: 15px;
        padding: 4px 5px;
        white-space: nowrap;
}
/* #score {
    font-weight: 400;
} */

.team {
    display: flex;
    padding: 10px;
}
.team img {
    height: 18px;
    width: 27px;
}
.cardteams {
    margin-left: 10px;
}
.cardfooter {
    display: flex;
    background-color: #ccc;
}
.cardfooteritem {
    padding: 6px 6px;
    margin-left:auto;
    font-size: 13px;
}

.maincontainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 10px;
    margin-top: 10px;
}


.articles {
    background-color:  white;
    display: flex;
    flex-direction: column;
}

.articlecard-text {
    padding: 5px;
    font-size: 15px;
}
.articlecard-time {
    padding: 5px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.825);
}
.articles h2 {
    padding: 0px 5px;
    font-size: 20px;
    color: rgb(11, 161, 161);
}
.mainarticles {
    background-color: white;
}
.mainarticle-card-title {
    padding: 9px 10px;
    font-size: small;
    color: #444;
}
.mainarticle-card img {
    padding: 0px 2%;
    width: 96%;
    border-radius: 5px;
    object-fit: fill;
}
.mainarticle-card hr {
    padding: 0px 20px;
}
.mainarticle-card-sectitle {
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.mainarticle-card-content {
    color: #222;
    
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}
.mainvideos {
    background-color: rgb(255,255,255);
}
.mainvideos h1 {
    color: rgb(11, 161, 161);
    padding-left: 10px;
    padding-right: 10px;
}
.mainvideos img {
    width: 94%;
    padding: 0px 3%;
}
.mainvideo-title {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
@media (max-width: 700px) {
    #maincontainer {
        display: inline;
    }
}

@media (max-width: 715px){
.header1 {
    overflow:auto;
}}