.maincontent {
    background-color: white;
    margin-top: 3px;
}
.maincontent h1 {
    margin: 0px;
    padding: 15px;
}
.maincontent hr {
    margin-inline-start: 15px;
    margin-inline-end: 15px;
    opacity: 0.4;
}
.card {
    display: grid;
    padding: 15px 15px;
    grid-template-columns: 203px auto;
    grid-template-rows: auto auto auto;
    column-gap: 15px;
}
.card img {
    grid-row-start: 1;
    grid-row-end: 4;
    width: 203px;
    height: 152px;
    border-radius: 7px;
}
.card h2 {
    margin: 0px;
}
.card-info {
    font-size: 16.5px;
    opacity: 0.8;
}
.card-time {
    font-size: 16px;
    opacity: 0.7;
}
.card h2:hover {
    text-decoration: underline;
}
