.smallnav {
    background-color: white;
    display: flex;
}
.smallnav1, .smallnav2, .smallnav3 {
    background-color: rgb(232, 232, 232);
}
.smallnav1{
    margin: 10px 30px;
    padding: 10px 150px;
    padding-left: 30px;
}
.smallnav2{
    margin: 10px 30px;
    padding: 10px 120px;
    padding-left: 25px;
}
.smallnav3{
    text-wrap: nowrap;
    margin: 10px 30px;
    padding: 10px 60px;
    padding-left: 13px;
}
.schedule{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: white;
}
.sctop{
    background-color: #e9e9e9;
    padding: 7px;
    padding-left: 10px;
}
.scdate{
    padding: 20px;
}
.scmatch {
    display: flex;
    flex-direction: column;
    
}